* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

html, 
body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    width: 100vw;
    height: 100vh;
} 

/* HEADER */
header {
    display: flex;
    margin-left: 64px;
    margin-top: 40px;
}

.logo {
    margin-bottom: -10px;
    margin-right:  50px;
}

.currency-rec {
    top: 40px;
}

.logo2 {
    color: #00AB63;
    font-size: 1.8rem;
    margin-left: 5px;
}

.data {
    margin-top: 10px;
}

#data-cotacao {
    background-color: #E5E5E5;
    border: none;
    width: 280px;
    color: #45505E;
}

.p-data {
    margin-top: 8px;
    color: #8C9CAD;
    font-size: 1.2rem;
}

/* CONTAINER */

.container {
    position: absolute;
    top: 0%;
    right: 0%;
    background: url(assets/Mask.png) no-repeat fixed right;
    width: 100vw;
    height: 100vh;
}